page-vista-diaria {


	.navbutton
	{
		background: none;
	}

	.icons
	{
		// height: 100px;
		display: flex;
		justify-content: center;
		width: 0px;
		zoom:1.2;
	}
	
	.reales
	{
		display: block;
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
		margin-top: 2px;
	}

	ion-card-header
	{
		background-color: yellow;
	}

	ion-card-content
	{
		margin-top: 10px;
	}

	.sugerencias
	{
		display: block;
		margin-left: 0;
		margin-right: 0;
		margin-top: 2px;
	}

	// .addbutton
	// {
	// 	float: right;
	// }

	.newEvent
	{
		display:flex;
		justify-content: flex-end;
		// margin-bottom: 0px;
		// background: black;
		// width: 100%;
	}

	.item_event_list
	{
        display: flex;
        justify-content: space-between;
	}
	
	.event_list
	{
		margin-bottom: 30px;
	}
}
