<ion-header>
  <ion-toolbar>
    <ion-title>registro1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!--Nombre-->
	<ion-item>
		<!-- <ion-label>Nombre completo</ion-label> -->
		<ion-input placeholder="Nombre"></ion-input>
	</ion-item>

	<!--Usuario-->
	<ion-item>
		<!-- <ion-label>Usuario</ion-label> -->
		<ion-input placeholder="Usuario"></ion-input>
	</ion-item>

	<!--Correo-->
	<ion-item>
		<!-- <ion-label>Correo electrónico</ion-label> -->
		<ion-input type="email" placeholder="Correo"></ion-input>
	</ion-item>

	<!--Contraseña-->
	<ion-item>
		<!-- <ion-label>Contraseña</ion-label> -->
		<ion-input type="password" placeholder="Contraseña"></ion-input>
	</ion-item>

	<!--Confimar contraseña-->
	<ion-item>
		<!-- <ion-label>Confirmar contraseña</ion-label> -->
		<ion-input type="password" placeholder="Confirmar contraseña"></ion-input>
	</ion-item>

	<ion-button href="/registro2">Continuar</ion-button>


</ion-content>
