<ion-header>
  <ion-toolbar>
    <ion-title>registro2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-item>
		<ion-label>Quisieramos saber un poco más sobre ti,<br>
		para ayudarte con sugerencias más<br>
		personalizadas</ion-label>
	</ion-item>

	<!--Fecha de nacimiento-->
	<ion-item>
		<ion-label>Fecha de nacimiento</ion-label>
		<ion-datetime display-format="DDDD, MMMM DD YYYY" picker-format="D MMMM YYYY"></ion-datetime>
	</ion-item>

	<ion-button href="/bienvenido">Continuar</ion-button>

</ion-content>
